body, html {
  height: 100%;
  margin: 0;
  padding: 0px;
  cursor: pointer;
}

.bg {

  font-family: 'Capriola', sans-serif;
  background-image: url("assets/images/DokiDokiSunshine.jpg");
  text-align: center;
  color: black;
  font-size: 2em;
  height: 100%;
  margin: 0;
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 0px;
}

video {
  margin: 0;
  padding: 0px;
}
