body, html {
  height: 100%;
  margin: 0;
  padding: 0px;
  cursor: pointer;
}

.bg {

  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url("DokiDokiSunshine.jpg");
  text-align: center;
  color: orange;
  font-size: 5em;
  height: 100%;
  margin: 0;
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 0px;
}

video {
  margin: 0;
  padding: 0px;
}